body {
    margin: 0px;
    padding: 0px;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color:#21C08B;
    height: 100px;
    display: flex;
    align-items: center;
}

header img{
    margin-left: 30px;
    width: 200px;
}

.error{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    height: inherit;
}

h3{
    margin-top: 0;
}
  
.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    overflow: hidden;
    color: white;
}
  
.text {
    text-align: center;
    margin-top: 56px;
    margin-bottom: 0;
    color: #fff;
    font-size: 110px;
    font-family: sans-serif;
    text-transform: uppercase;
}
  
.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}  
  
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.pulse {
    animation-name: pulse;
    animation-duration: 1s;
}

.footer{
    margin-top: auto;
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
}

.footer a{
    font-size: 14px;
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
  }