body{
    margin: 0;
    font-family: 'Muli', sans-serif;
    color:white;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

header{
    background-color:#21C08B;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
}

header img{
    margin-left: 30px;
    width: 200px;
}

.register{
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 200px);
    padding-top: 0 30px;
}

.register__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white; 
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 600px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.register__container--form{
    display: flex;
    flex-direction: column;
}

.input{
    color: white;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 2px solid white;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

::placeholder{
    color:white;
    font-family: 'Muli', sans-serif;
}

.button{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: 0;
    border-radius: 25px;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    letter-spacing: 1px;
}

.register__container--login{
    text-align: center;
    margin: 40px 0 20px 0;
}

.register__container--login a{
    font-weight: bold;
    font-size: 16px;
}

.footer{
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a{
    font-size: 14px;
    margin-left: 30px;
}